
@font-face {
    font-family: 'AdventurousBoldFont';
    src: url('DragonwickBold-vmBZ.ttf');
}

@font-face {
    font-family: 'AdventurousRegularFont';
    src: url('DragonwickRegular-lgXV.ttf')
}

body {

    background-color: #F8F8F8;
    font-family: 'AdventurousRegularFont';
}

h1 {
    font-family: 'AdventurousBoldFont';
    font-size: 40px;
    text-align: center;
    color: #333333;
    margin-top: 80px;
}

label {
    font-family: 'AdventurousBoldFont';
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin-top: 80px;
}

input {
    font-family: 'AdventurousBoldFont';
    font-size: 20px;
    text-align: center;
    color: #333333;
    margin-top: 30px;
}

.button-container {
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;

}

.button-container button {
    font-family: 'AdventurousRegularFont', sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #964B00;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.button-container button:hover {
    background-color: #000000;
}
