<!DOCTYPE html>
<html>
<head>
    <title>Character Creator</title>
    <link rel="stylesheet" href="styles/main_menu_style.css">
</head>
<body>
    <script>
        function createCharacter() {
            //submit the creation to post to be added to database
        }

        function back() {
            window.location.href ="main.html";
        }

    </script>
    <h1>Character Creator</h1>
  <form action="/CharacterCreatorResource.java" target="_parent" method="post">
    <div>
        <label><i>Name</i></label>
        <input type="text" id="name" name="name">
    </div>
        <label><i>Class</i></label>
        <input type="text" id="name" name="name">
    <div>
        <label><i>Health</i></label>
        <input type="text" id="name" name="name">
    </div>

    <div>
        <label><i>Strength</i></label>
        <input type="text" id="name" name="name">
    </div>

    <div>
        <label><i>Dexterity</i></label>
        <input type="text" id="name" name="name">
    </div>

    <div>    
        <label><i>Intelligence</i></label>
        <input type="text" id="name" name="name">
    </div>
    
    <div>
        <input type="submit" value="Create" class="button-container"></button>
    </div>
  </form>
    
  <div>
    <button onclick="back()" class="button-container">Back</button>
    
</div>
</body>


</html>